input[type=text] {
    width: 30%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(https://raw.githubusercontent.com/Fetyali7/MAK-soen341project2023/main/341-project/public/searchicon.webp);
    background-size: 2rem;
    background-position: 3px 1px; 
    background-repeat: no-repeat;
    padding: 10px 20px 5px 40px;
}