body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --color-navbar: rgba(56,77,110,255);
  --color-navbar-border: #27bcda;
  --color-navbar-hover: rgb(248, 124, 188);
  --color-navbar-active: rgba(28,41,53,255);
  --color-navbar-background: rgba(47,66,93,255);

  --color-footer: #201f1f;
  --color-footer-text: #cfd2d6;
  --color-footer-hover: #27bcda;
}