.body {
    background-color:var(--color-login-background);
}

.auth-form-container{
    align-items: center;
    flex-direction: column;
    width: 25%;
    background-color: var(--color-login-background);
    height: 100%;
    margin: 2.5% 36%;
}

.login-form{
    align-items: center;
    padding: 4rem 6rem;
}

.login input{
    flex: 1;
    width: 100%;
    background: #fff;
    border: 2px solid var(--color-navbar-background);
    padding: 0 1rem;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    line-height: 35px;
}

.login label{
    flex: 1;
    width: 100%;
    font-size: 15px;
    line-height: 35px;
    text-align: flex-start;
    color: #000000;
    outline: none;
}

.login-username {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.login-password{
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}